body {
    font-family: "Comic Sans MS";
    margin: 0;
    padding: 0;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin: auto;
    margin-bottom: 25px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

ul {
    padding: 0;
    margin: 0; 
}

input, button {
    width: 100%;
    box-sizing: border-box; 
    border: none;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}

input {
    background-color: #f2f2f2;
}

button {
    background-image: linear-gradient(120deg, #8fd3f4 0%,  #84fab0 100%);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #68e8a4;
}

#forecast div {
    background-image: linear-gradient(120deg, #8fd3f4 0%,  #84fab0 100%);
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: all 0.3s ease-out;
    width: 100%; 
    box-sizing: border-box;
}

#forecast div:hover {
    transform: scale(0.97);
    background-image: linear-gradient(120deg, #8fd3f4 0%,  #84fab0 100%);
}

@media (max-width: 480px) {  
    .container {
        padding: 15px;
    }

    input, button {
        font-size: 0.9em;
        padding: 10px;
    }
}
button:active {
    transform: scale(0.98); 
}
input:focus {
    outline: none; 
    background-color: #e6e6e6; 
    box-shadow: 0 0 5px rgba(0, 128, 128, 0.3); 
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#forecast {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-out;
}

#forecast.opened {
    max-height: 600px; 
}
button, input, #forecast div {
    transition-duration: 0.3s; 
}
select {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    border: none;
    font-family: "Comic Sans MS";
}
